.card-encuesta {
  width: 100%;
  height: 400px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f7f9ff;
  border: 0.1rem solid #5b8df7;

  .card-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: #434656;
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 8rem;
  }

  .card-img {
    width: 100%;
    height: 10rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
  }

  .encuesta-end {
  }
}
