.title {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-encuesta {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f7f9ff;
  border: 0.1rem solid #5b8df7;

  .card-title {
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 8rem;
    display: flex;

    .box-title {
      font-size: 1.6rem;
      text-align: center;
      font-weight: 500;
      color: #434656;
      height: 100%;
      margin: auto auto;
    }
  }

  .card-img {
    width: 100%;
    height: 10rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 0;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;

    .body-item {
      width: 100%;
      margin-bottom: 0.5rem;
      span {
        font-weight: 550;
        margin-right: 0.2rem;
      }
    }
  }

  .button-container {
    display: flex;

    margin: 1rem 0;
    button {
      margin: 0 auto;
      font-size: 1.4rem;
      text-transform: capitalize;
      width: 30%;
      background-color: #1e3666;
    }
  }
}
