<app-header></app-header>

<div class="main-box mt-5">
  <div class="title text-center">Encuestas disponibles</div>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card-encuesta">
        <div class="card-title">
          <div class="box-title">Rendimiento actual fotocopiadora</div>
        </div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/20181307-carousel-894321502.jpg"
          />
        </div>

        <div class="card-body">
          <div class="body-item">
            <span>Fecha de vigencia: </span>30/02/2021
          </div>
          <div class="body-item"><span>Votantes:</span> 5</div>
        </div>
        <div class="button-container">
          <button class="btn btn-primary">Votar</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card-encuesta">
        <div class="card-title">
          <div class="box-title">Cotización de cuotas</div>
        </div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/contact-tracing-on-college-campuses-820x440.jpg"
          />
        </div>
        <div class="card-body">
          <div class="body-item">
            <span>Fecha de vigencia: </span>30/02/2021
          </div>
          <div class="body-item"><span>Votantes:</span> 5</div>
        </div>

        <div class="button-container">
          <button class="btn btn-primary">Votar</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3 mb-4">
      <div class="card-encuesta">
        <div class="card-title">
          <div class="box-title">Calidad almuerzos cantina</div>
        </div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/literacy-student-outreach.jpg"
          />
        </div>

        <div class="card-body">
          <div class="body-item">
            <span>Fecha de vigencia: </span>30/02/2021
          </div>
          <div class="body-item"><span>Votantes:</span> 5</div>
        </div>

        <div class="button-container">
          <button class="btn btn-primary">Votar</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3 mb-4">
      <div class="card-encuesta">
        <div class="card-title">
          <div class="box-title">Perfomance de profesores</div>
        </div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/literacy-student-outreach.jpg"
          />
        </div>

        <div class="card-body">
          <div class="body-item">
            <span>Fecha de vigencia: </span>30/02/2021
          </div>
          <div class="body-item"><span>Votantes:</span> 5</div>
        </div>

        <div class="button-container">
          <button class="btn btn-primary">Votar</button>
        </div>
      </div>
    </div>
  </div>
</div>
