<app-header></app-header>

<div class="main-box mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mt-3">
      <div class="card-encuesta">
        <div class="card-title">Hola, soy un titulo</div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/20181307-carousel-894321502.jpg"
          />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mt-3">
      <div class="card-encuesta">
        <div class="card-title">Rendimiento actual fotocopiadora</div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/contact-tracing-on-college-campuses-820x440.jpg"
          />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mt-3">
      <div class="card-encuesta">
        <div class="card-title">Encuesta de prueba</div>
        <div class="card-img">
          <img
            src="../../../assets/testing-polling/literacy-student-outreach.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
