nav {
  height: 10rem;
  font-size: 1.6rem;

  .navbar-brand {
    img {
      margin-left: 5rem;
    }
  }

  ul {
    margin-left: auto !important;
    margin-right: 4.44%;

    li {
      cursor: pointer;
      .active {
        // TODO:
      }

      a {
        color: #e8efff;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }

    // Hidding avatar in md sizes and below.
    @media (max-width: 992px) {
      .avatar {
        display: none;
      }
    }
    .avatar {
      margin-left: 2rem;
      background-color: transparent;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        border-radius: 50%;
        background-color: gray;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    li:not(:last-child) {
      margin-right: 15px;
    }
  }

  .navbar-toggler {
    margin-right: 4rem;
  }
}

.profile-popup {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  right: 8rem;
  top: 8rem;
  width: 34rem;
  height: 50rem;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);

  .profile-header {
    border-bottom: 1px solid #e8eaed;

    .avatar-container {
      display: flex;
      justify-self: center;
      height: 10rem;
      width: 10rem;
      margin: 4rem auto 0 auto;
      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
    }

    .name {
      margin-top: 2rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .email {
      margin-top: 0.5rem;
      color: #666;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    #avatar-hr {
      border-bottom: 0.3px solid #f8f9fa;
    }

    .edit-profile {
      background-color: #ffffff;
      border: 1px solid #dadce0;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      color: #3c4043;
      font-size: 1.6rem;
      letter-spacing: 0.25px;
      text-align: center;
      max-width: 22.3rem;
      outline: 0;
      padding: 0.8rem 1.6rem;
      margin: 0 auto 2rem auto;
      cursor: pointer;

      &:hover {
        background-color: #f7f8f8;
      }
    }
  }

  .profile-body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .logout {
      background-color: #ffffff;
      border: 1px solid #dadce0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      display: inline-block;
      font-size: 1.6rem;
      width: 90%;
      letter-spacing: 0.15px;
      margin: 16px;
      outline: 0;
      padding: 10px 24px;
      text-align: center;
      cursor: pointer;
      margin-top: auto;
      margin-bottom: 2rem;
    }
  }
}
