<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo-login.png"
      width="60"
      height="60"
      alt="ib-logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" id="first-item" href="#">Instituto Belgrano</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Encuestas</a>
      </li>

      <li class="avatar" (click)="popupOpen = !popupOpen">
        <img src="../../../assets/avatar-1.png" />
      </li>
    </ul>
  </div>
</nav>

<div class="profile-popup" *ngIf="popupOpen">
  <div class="profile-header">
    <div class="avatar-container">
      <img src="../../../assets/avatar-1.png" />
    </div>

    <div class="name">Mauro Ríos</div>
    <div class="email">mauro3311@qsyier.com</div>

    <div class="edit-profile">Gestionar mi cuenta</div>
  </div>

  <div class="profile-body"></div>
</div>
