.leftside {
  background-color: #1e3666;
  height: 100vh;
  padding: 0 4.44%;
}

.sidenav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40%;
  background-color: #ffffff;
}
.logo-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  font-weight: 200;
  padding-top: 10rem;
}

img {
  height: 150px;
  width: 150px;
}

.welcome-title {
  display: none;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 6rem;
  font-weight: 200;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#left-hr {
  border: 0;
  width: 80%;
  border-top: 2px solid #ffffff;
  margin: 0 auto 1.5rem auto;
}

// MOBILE
@media (min-width: 768px) {
  .input-container {
    width: 80%;
    margin: 0 auto;
  }
  button {
    width: 20% !important;
  }
}

// LARGE DEVICES
@media (min-width: 992px) {
  .input-container {
    width: 100%;
  }

  .leftside {
    width: 60%;
  }
  .sidenav {
    display: block;
  }
  .input-container {
    display: none !important;
  }
  .welcome-title {
    display: block;
  }
  .title {
    padding-top: 20rem;
  }
}

.upper-input {
  font-size: 1.6rem;
  color: #fff9f6;
  padding-left: 10px;
}

input {
  margin-bottom: 2rem;
  height: 4rem;
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-radius: 30px;
  padding-left: 10px;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid #fff9f6;
  }
}

.btn-left {
  background-color: #548ef8;
  color: #f1f1e6;
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}

.forgot-password {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #f1f1e6;
  padding-left: 10px;
  text-align: center;
}

// RightSide:

.text-login > h3 {
  margin-top: 7rem;

  text-align: center;
  color: #636363;
  font-weight: 700 !important;
}

.sidenav {
  padding: 0 4.44%;

  .form-container {
    margin-top: 15rem;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 3rem;
    border-bottom: 5px solid #053267;
  }

  input {
    height: 3rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #dfdfdf;
    border-radius: 0;
  }

  small {
    font-size: 12px;
  }

  .btn-right {
    width: 100% !important;
    border: none;
    height: 4rem;
    border-radius: 3rem;
    vertical-align: middle;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 550;
    background-color: #053267;
    -webkit-box-shadow: -2px 5px 10px 1px rgba(0, 0, 0, 0.27);
    box-shadow: -2px 5px 10px 1px rgba(0, 0, 0, 0.27);
  }

  .username-box {
    margin-bottom: 6rem;
  }

  .password-box {
    margin-bottom: 5rem;
  }
  .icon {
    margin-bottom: 3rem;
  }
}
