/* You can add global styles to this file, and also import other style files */
// #1e3666

/* CSS reset */

html,
body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.main-box {
  padding: 0 4.44%;
}

.navbar {
  background-color: #1e3666 !important;
}
